/*
 * Weather css File
*/

.WeatherBox {
    min-width: 124px;
    width: min-content;
}

.Weather {
    display: flex;
    flex-direction: row;
    
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(196, 196, 196);
    padding: 0 10px;
    height: 46px;
}

img {
    height: 50px;
    width: auto;
}

p {
    margin-bottom: 0px;
}