/*
 * SavedTrip css File
*/

.SavedTrip {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h3 {
  padding: 0 0 15px 0;
}

.SavedTrip .TripTable {
  max-width: 80%;
}

.SavedTrip .MapComponent {
  width: 30%;
  margin-top: 55px;
}

.SavedTrip .NearbyPlaces {
  width: 30%;
  margin-top: 55px;
}