/*
 * NearbyPlaces css File
*/

.PlaceCard {
  /* propertys here */
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
}

.Media {
  height: 100%;
  width: 50%;
}

.Content {
  display: inline;
  margin-left: 15px;
  text-align: left;
}

.Content h3 {
    font-size: 1.25rem;
 }

 .Content p {
   color: grey;
   font-size: 0.9rem;
 }

 .Content button {
   min-width: 30px;
 }
